@mixin headerstyle($flexdirection, $backgroundHeader, $textcolor) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  flex-direction: $flexdirection;
  background-color: $backgroundHeader;
  color: $textcolor;

}

header{
  @include headerstyle(row, orange, black);
  h1 {
    font-size: 2rem;
    font-family: $font-family;
  }
}

#headerTitle {
  border-radius: 10px;
  color: black;
  text-shadow: 0.1px 0.1px 11px 7px black;

}




