$primary-color: #3498db;
$color-font: rgb(253, 63, 0);
$button-color: #2ecc71;
$undoButton: yellow;
$resetButton: rgb(231, 12, 12);
$font-family: 2.5ch droid sans mono, consolas, monospace;
$base-font-size: 16px;
$base-spacing: 16px;
$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 9;
$in-w: $n-char*($char-w + $gap);
@import "./header";
@import "./footer";
@mixin beautylabel {
  display: flex;
  justify-content: center;
}
html, body {
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  line-height: 1.5;
}
@mixin buttonStyles($color, $text-color) {
  padding: 10px 20px;
  border: none;
  background-color: $color;
  color: $text-color;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($color, 10%);
  }
}
@mixin mainElementPhone {
  padding: 0.3rem;
  background-color: #e0d8d4;
  #incomeSection, #expenseSection{
    @include amountSection(fit-content);
    #incomeForm, #expenseForm {
      @include amountForm(86vw, 0, 0);
        #incomeAmount, #expenseAmount{
          @include inputAmount375px(13.5ch);
      }
  
  }
  }
}
@mixin sumaryElementPhone {
  background-image: linear-gradient(176deg, white, #a1eac4, #ff5c5c);
  justify-content: center;
  border: 0.5px solid #ffa501;
  box-shadow: inset 0px -6px 12px 0px #ffa501;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: inset 0px 1px 12px 2px #050505;
}
@mixin undoReset($undoButton, $resetButton) {
  border-radius: 15px 15px 0 0;
  background-color: $undoButton;
  background-color: $resetButton;
  color: rgb(0, 0, 0);
  $char-w: 1ch;
  $gap: .5*$char-w;
  $n-char: 9;
  $in-w: $n-char*($char-w + $gap);
font: 2ch droid sans mono, consolas, monospace;
letter-spacing: $gap
}


main, form, #summary, ul {
  padding: $base-spacing;
}
@mixin fontSizePos($fontSize, $pad) {
  font-size: $fontSize;
  padding: $pad;
}
@mixin amountSection($fitContent){
  display: flex;
  background-image: linear-gradient(176deg, white, #a1eac4, #ff5c5c);
  justify-content: center;
  border: 0.5px solid #ffa501;
  box-shadow: inset 0px -6px 12px 0px #ffa501;
  border-radius: 5px;
  margin-bottom: 10px;
  width: $fitContent;
}
@mixin amountForm($widthForm, $marginTop, $marginBottom){
  display: grid;
  justify-items: center;
  border: 0.5px solid #ff000000;
  box-shadow: inset 0px 1px 12px 2px #050505;
  border-radius: 5px;
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  width: $widthForm;
}
@mixin inputAmount375px($width){
  display: block;
	margin:  auto;
	border: none;
  margin-bottom: 5px;
	padding: 0;
	width: $width;
	background: repeating-linear-gradient(90deg, 
		dimgrey 0, dimgrey $char-w, 
		transparent 0, transparent $char-w + $gap) 
		0 100%/ #{$in-w - $gap} 2px no-repeat;
	font: 3.1ch droid sans mono, consolas, monospace;
	letter-spacing: $gap;
	
	&:focus {
		outline: none;
		color: dodgerblue;
	}
}
@mixin inputAmount{
  display: block;
	margin:  auto;
	border: none;
	padding: 0;
  margin-bottom: 5px;
	width: $in-w;
	background: repeating-linear-gradient(90deg, 
		dimgrey 0, dimgrey $char-w, 
		transparent 0, transparent $char-w + $gap) 
		0 100%/ #{$in-w - $gap} 2px no-repeat;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: $gap;
	
	&:focus {
		outline: none;
		color: dodgerblue;
	}
}
@mixin labelDescriptionCodeUI {
  $char-w: 1ch;
  $gap: .07*$char-w;
  $n-char: 9;
  $in-w: $n-char*($char-w + $gap);

  padding: 5px;
  margin-bottom: 5px;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, 0, t 1.07ch) 0 100% / 9.56ch 2px no-repeat;
  font: 2.5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.07ch;
}

#incomeSection, #expenseSection{
  @include amountSection(fit-content);
  #incomeForm, #expenseForm {
    @include amountForm(86vw, 0, 0);
      #incomeAmount, #expenseAmount{
        @include inputAmount;
    }

}
}


#incomeForm, #expenseForm {
  label{
    @include labelDescriptionCodeUI;
  }
}

#incomeForm, #expenseForm {
  #incomeDescription, #expenseDescription {
    @include labelDescriptionCodeUI;
  }
}

#incomeDate, #expenseDate {
  margin-bottom: 5px;
  font: $font-family
}

button{
  @include buttonStyles($button-color, white);
  font: $font-family;
}

#undoButton {
  border-radius: 15px 15px 0 0;
  background-color: $undoButton;
  color: rgb(0, 0, 0);
  $char-w: 1ch;
  $gap: .5*$char-w;
  $n-char: 9;
  $in-w: $n-char*($char-w + $gap);
font: 2ch droid sans mono, consolas, monospace;
letter-spacing: $gap
}


#resetButton {
  border-radius: 15px 15px 0 0;
  background-color: $resetButton;
  color: rgb(255, 255, 255);
  $char-w: 1ch;
  $gap: .5*$char-w;
  $n-char: 9;
  $in-w: $n-char*($char-w + $gap);
font: 2ch droid sans mono, consolas, monospace;
letter-spacing: $gap
}

#summary {
  font: $font-family;
  background-color: #f0f0f0;
  display: grid;
  justify-items: center;
  border: 0.5px solid #ff000000;
  box-shadow: inset 0px 1px 12px 2px #050505;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  font: $font-family;
  list-style: none;
  padding: 0;
  li {
    border: 0.5px solid rgba(255, 0, 0, 0);
    box-shadow: inset 0px 1px 12px 2px #050505;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(234 150 150 / 15%);
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 375px) and (min-width: 270px){


  main {
    font-size: medium;

@include mainElementPhone;
    
    
    #incomeForm, #expenseForm {
      label{
        @include labelDescriptionCodeUI;
      }
    }
    
    #incomeForm, #expenseForm {
      #incomeDescription, #expenseDescription {
        @include labelDescriptionCodeUI;
      }
    }
    
    #incomeDate, #expenseDate {
      margin-bottom: 5px;
      font: $font-family
    }

    #summary {
      @include sumaryElementPhone;
    }

    @mixin unorderListElement {
      font: $font-family;
      list-style: none;
      padding: 0;
      li {
        border: 0.5px solid rgba(255, 0, 0, 0);
        box-shadow: inset 0px 1px 12px 2px #050505;
        margin-top: 20px;
        padding: 10px;
        background-color: rgb(234 150 150 / 15%);
        border-radius: 5px;
        margin-bottom: 5px;
      }
    }
    ul {
      @include unorderListElement;
    }



    button{
      @include buttonStyles($button-color, white);
      font: $font-family;
      #undoButton {
        @include undoReset($undoButton, 0);
      }
      #resetButton {
        @include undoReset($resetButton, 0);
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 376px) {
  main {
    font-size: x-large;
    display: flex;
    padding: 0.3rem;
    background-color: #e0d8d4;
    flex-direction: column;
    align-items: center;
    @include mainElementPhone;
        
        
        #incomeForm, #expenseForm {
          label{
            @include labelDescriptionCodeUI;
          }
        }
        
        #incomeForm, #expenseForm {
          #incomeDescription, #expenseDescription {
            @include labelDescriptionCodeUI;
          }
        }
        
        #incomeDate, #expenseDate {
          margin-bottom: 5px;
          font: $font-family
        }
    
        #summary {
          @include sumaryElementPhone;
        }
    
        @mixin unorderListElement {
          font: $font-family;
          list-style: none;
          padding: 0;
          li {
            border: 0.5px solid rgba(255, 0, 0, 0);
            box-shadow: inset 0px 1px 12px 2px #050505;
            margin-top: 20px;
            padding: 10px;
            background-color: rgb(234 150 150 / 15%);
            border-radius: 5px;
            margin-bottom: 5px;
          }
        }
        ul {
          @include unorderListElement;
        }
    
    
    
        button{
          @include buttonStyles($button-color, white);
          font: $font-family;
          #undoButton {
            @include undoReset($undoButton, 0);
          }
          #resetButton {
            @include undoReset($resetButton, 0);
          }
        }
      }
    }

@media screen and (min-width: 769px) {
  main {
    font-size: xx-large;
    display: grid;
    padding: 0.3rem;
    background-color: #e0d8d4;
    flex-direction: column;
    align-items: center; 
    @include mainElementPhone;
    justify-items: center;

  }
  
        
        
        #incomeForm, #expenseForm {
          width: 40vw;
          label{
            @include labelDescriptionCodeUI;

          }
        }
        
        #incomeForm, #expenseForm {
          #incomeDescription, #expenseDescription {
            @include labelDescriptionCodeUI;
          }
        }
        
        #incomeDate, #expenseDate {
          margin-bottom: 5px;
          font: $font-family
        }
  
        #summary {
          @include sumaryElementPhone;
        }
    
        @mixin unorderListElement {
          font: $font-family;
          list-style: none;
          padding: 0;
          li {
            border: 0.5px solid rgba(255, 0, 0, 0);
            box-shadow: inset 0px 1px 12px 2px #050505;
            margin-top: 20px;
            padding: 10px;
            background-color: rgb(234 150 150 / 15%);
            border-radius: 5px;
            margin-bottom: 5px;
          }
        }
        ul {
          @include unorderListElement;
        }
    
    
    
        button{
          @include buttonStyles($button-color, white);
          font: $font-family;
          #undoButton {
            @include undoReset($undoButton, 0);
          }
          #resetButton {
            @include undoReset($resetButton, 0);
          }
        }
      }
 @media screen and (min-width: 1200px) {
  #summaryList {
    display: flex;
    align-items: flex-start; 
  }

 }
