@mixin footerstyle($flexdirection, $backgroundHeader) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  flex-direction: $flexdirection;
  background-color: $backgroundHeader;
}

footer {
  @include footerstyle(row, orange)   ;
  background-color: rgba(237, 181, 151, 0.137254902);

}